name: Pipeline CI/CD MLops

on: 
  pull_request:
    branches: [ dev ]

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r ./python/credit_scoring/requirements.txt
          pip install pytest
      
      - name: Run tests
        run: |
          cd python/credit_scoring
          pytest tests/test_model_creation.py -v
